:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);


    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}



body {
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.result-section {
    padding: 1rem;
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 10px;
    color: rgba(128, 128, 128, 0.901);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.result-score {
    box-sizing: border-box;
    border-radius: 50%;
    background-color: hsl(234, 85%, 45%);
    width: 7.5rem;
    height: 7.5rem;
    padding: 0.5rem;

}

.result-score>h2 {
    margin-bottom: 0;
    font-size: 2.2em;
    color: rgba(240, 248, 255, 0.928)
}

.result-score>h3 {
    margin-top: 0;
    font-size: 0.75em;
}

.result-section span {
    color: rgba(240, 248, 255, 0.928)
}

.summary-section {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

}



.heading {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #808080;
    margin-left: 1.5rem;
}

.summary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    margin-bottom: 0.75rem;
    width: 80%;
    font-size: 0.6rem;
    padding: 0.75rem;

}

.items {
    width: 15rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.items>img {
    margin-right: 0.9rem;
}

.summary-section span {
    color: hsla(224, 30%, 27%, 0.66)
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.066);
    border-radius: 10px;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.125);
    border-radius: 10px;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.093);
    border-radius: 10px;
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.071);
    border-radius: 10px;
}

.reaction .items>h1 {
    color: hsl(0, 100%, 67%);
}

.memory .items>h1 {
    color: hsl(39, 100%, 56%)
}

.verbal .items>h1 {
    color: hsl(166, 100%, 37%)
}

.visual .items>h1 {
    color: hsl(234, 85%, 45%)
}

button {
    margin-top: 1rem;
    width: 13rem;
    border-radius: 20px;
    padding: 0.75rem;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: whitesmoke;
}

@media (min-width:400px) {
    main {
        flex-direction: row;
        background-color: var(--White);
        width: 40rem;
    }
}